<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/newtonsCradle.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graphica</title>
    <link rel="stylesheet" type="text/css"
      href="{{url_for('static',filename='home.css')}}" />
  </head>
  <body>
    <video id="video-background" autoplay loop muted>
      <source src="{{url_for('static',filename='vid3.mp4')}}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="container">
      <div class="box">
        <nav>
          <l-newtons-cradle
            class="img"
            size="78"
            speed="1.4"
            color="#068FFF"></l-newtons-cradle>
          <p class="logo pulsate">Graphica</p>
          <ul class="nav">
            <li><a href="/" class="blue">Home</a></li>
            <li><a href="about.html" class="blue">About</a></li>
            <li><a href="vis.html" class="blue">Graphs</a></li>
            

          </ul>
        </nav>
   
        <div class="contains">
          <div class="section-1">
            <div class="content-wrapper">
              <div class="image-content">
                <img src="static/AdobeStock_425773830-removebg.png" alt="AI Search Techniques"/>
              </div>
              <div class="text-content">
                <h1><span>W</span>elcome</h1>
                <h2>To <span id="pink">Graphica</span> Where AI Meets Smarter Search.</h2>
                <div class="button">
                  <a href="about.html">Read More</a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
      <div id="loader">
        <l-quantum size="85" speed="1.75" color="blue"></l-quantum>
      </div>

      <script src="{{url_for('static',filename='home.js')}}">
      </script>

    </div>
  </body>
</html>
